$baltic-sea: #343A40;
$smaragd: #287233;
$claret: #89043D;
$midnight-blue: #03045E;
$dark-cornflower-blue: #023E8A;
$french-blue: #0077B6;
$blue-green: #0096C7;
$pacific-blue: #00B4D8;
$sky-blue-crayola: #48CAE4;
$middle-blue: #00E0EF;
$blizzard-blue: #ADE8F4;
$light-cyan: #CAF0F8;
$white: #FFFFFF;

body {
	margin: 0;
	width: 100vw;
}

.container--main {
    width: inherit;
	display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
    .container--content {
        padding: 0 10% 0 10%;
        width: 80%;
    }
}

.banner {
    height: 200px;
    width: 100%;
    overflow: hidden;

    .banner_img {
        min-height: 200px;
        min-width: 400px;
        width: 100%;
    }
}

.navbar {
    display: flex;
    flex-wrap: row wrap;
	height: 50px;
	width: 100%;
    margin: 0 0 40px 0;
    padding: 0 0 0 20px;
    background-color: $baltic-sea;
    border-top: solid $midnight-blue 1px;
    border-bottom: solid $midnight-blue 1px;

    .navbar--text-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 0 20px 0 0;
    }

    .navbar__a {
        font-size: 26px;
        background: -webkit-linear-gradient(
            270deg,
            #FFFFFF 30%,
            #00B4D8 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar__a:hover {
            font-size: 26px;
            background: -webkit-linear-gradient(
            270deg,
            #FFFFFF 30%,
            #89043D 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar__a--active {
            font-size: 26px;
            background: -webkit-linear-gradient(
            270deg,
            #FFFFFF 30%,
            $smaragd 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    border: solid $midnight-blue 3px;
   
    .profile__div--wrapper {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 10px;
    }
    .profile__img {
        border: solid $midnight-blue 3px;
        border-radius: 10px;
        width: 20%;
    }

    .profile__div--headline {
        background-color: $dark-cornflower-blue;
        color: $white;
        text-align: left;
        font-size: 40px;
    }    
}
.wrapper {
    width: 100%;

    div {
        margin-top: 20px;
    }
}